@import "utils/vars";


@mixin neon($color:$lite,$width:6px){
    text-shadow: 0 0 $width $color;
}

@mixin text-link{
    text-decoration: none;
    &::after{
        display: block;
        content:"";
        height: 1px;
        width: 0;
        transition: all .4s;
        background: $action;
    }
    &:hover::after{
        width: 100%;
    }
}